<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://updatetw.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a04f2157-a7f6-4254-95d0-339c7be18195/resourceGroups/dev/providers/Microsoft.Web/sites/updateTW</ResourceId>
    <UserName>$updateTW</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://updatetw.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>